//COLORS
$black: #191818;
$grey: #333333;
$white: #f7f7f7;
$green: #63ab30;
$blue: #1e7ec2;
$yellow: #cbbf2c;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
//--------------------

//FONTS
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BookItalic.eot');
  src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BookItalic.woff') format('woff'),
    url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamMedium.woff2') format('woff2'),
    url('../fonts/GothamMedium.woff') format('woff'),
    url('../fonts/GothamMedium.ttf') format('truetype'),
    url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.eot');
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('../fonts/Gotham-Black.woff') format('woff'),
    url('../fonts/Gotham-Black.ttf') format('truetype'),
    url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

//GLOBAL
*{
  font-family: 'Gotham', sans-serif;
  padding: 0;
}
a{
  text-decoration: none;
  &:active, &:hover{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}
h2, h3{
  margin: 0;
}

h2{
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
}

h3{
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.3;
}

h4{
  font-weight: 900;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

p{
  font-weight: 300;
  font-size: 16px;
}

hr{
  border-top: 1px solid #cccccc;
}

@media only screen and (min-width : 768px) {
.col-sm-half{
  margin-left: 4.6666666666%;
}
}

@media only screen and (min-width : 992px) {
h2{
  font-size: 36px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 26px;
  }
  #home{
    h2{
      font-size: 26px;
    }
    h3{
      font-size: 16px;
    }
    
  }
}
.black-text{
  color: $black;
}
.white-text{
  color: $white;
}


//HERO SECTION
.hero{
  margin-top: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.tagline{
  padding-top: 250px;
  max-height: 400px;
  color: $white;
}
.headline{
  padding-top: 20px;
  padding-bottom: 10px;
}
.content-container{
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width : 570px) {
  .tagline{
    padding-top: 150px;
    max-height: none;
  }
}
@media only screen and (min-width : 992px) {
  .hero{
    padding-top: 175px;
    &.hero-home{
      padding-top: 0;
    }
  }
  .content-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//VARIABLE ELEMENTS
#home{
  .brand-color{
    color: $green;
  }
  .hero{
    background-image: url(../images/hero-administrators.png);
    background-color: $grey;
  }
  .logo-cegf, .logo-media{
    display: none;
  }
  .navbar-header{
    background-color: $green;
  }
}
#about{
  .brand-color{
    color: $green;
  }
  .hero{
    background-image: url(../images/hero-about.png);
    background-color: $grey;
  }
  .logo-cegf, .logo-media{
    display: none;
  }
  .navbar-header{
    background-color: $green;
  }
}
#students{
  .brand-color{
    color: $blue;
  }
  .hero{
    background-image: url(../images/hero-students.png);
    background-color: $blue;
  }
  .logo-egf, .logo-media{
    display: none;
  }
  .navbar-header{
    background-color: $blue;
  }
}
#media{
  .brand-color{
    color: $yellow;
  }
  .hero{
    background-image: url(../images/hero-media.png);
    background-color: $grey;
  }
  .logo-egf, .logo-cegf{
    display: none;
  }
  .navbar-header{
    background-color: $yellow;
  }
}
#administrators{
  .brand-color{
    color: $blue;
  }
  .hero{
    background-image: url(../images/hero-administrators.png);
    background-color: $blue;
  }
  .logo-egf, .logo-media{
    display: none;
  }
  .navbar-header{
    background-color: $blue;
  }
}
#contact{
  .brand-color{
    color: $green;
  }
  .hero{
    background-image: url(../images/hero-administrators.png);
    background-color: $grey;
  }
  .logo-cegf, .logo-media{
    display: none;
  }
  .navbar-header{
    background-color: $green;
  }
}

//BACKGROUNDS
.black-background{
  background-color: $black;
  color: $white;
}
.grey-background{
  background-color: $grey;
  color: $white;
}
.blue-background{
  background-color: $blue;
  color: $white;
}
.yellow-background{
  background-color: $yellow;
  color: $white;
}
.green-background{
  background-color: $green;
  color: $white;
}

.white-background{
  background-color: $white;
  color: $black;
}
.img-banner{
  background-size: 100%;
  background-repeat: no-repeat;
  &.banner-about{
    background-image: url(../images/banner-about.png);
    padding-top: 28%;
  }
  &.banner-media{
    background-image: url(../images/banner-media.png);
    padding-top: 20%;
  }
}
.banner-divider{
 margin-top: 10px;
}
//ABOUT TABLE
.table{
  margin-bottom: 0;
  & > tbody > tr > td{
    border: none;
    font-size: 11px;
    width: 14.285%;
    text-align: center;
    padding: 0;
  }
}

//SIDE ICONS
.icon-title{
  margin-bottom: 0;
  font-size: 30px;
  color: $blue;
  font-weight: 900;
}
#media{
  .icon-title{
    color: $yellow;
  }
}
.icon{
    padding-top: 30px;
  p{
    padding-top: 20px;
  }
}
@media only screen and (min-width : 768px) {
  .icon{
    padding-top: 30px;
    p{
      padding-top: 0;
    }
  }
  .icon-title{
    min-height: 45px;
    padding-top: 5px;
    color: $white;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
#media{
  .grey-background{
    .icon-title{
      color: $white;
    }
  }
}
@media only screen and (min-width : 992px) {
  .icon-title{
    min-height: 70px;
    font-size: 20px;
  }
}


//FORM
input, textarea{
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: $black;
  width: 100%;
  &::-webkit-input-placeholder {
    color: $black;
  }
  &::-moz-placeholder { 
    color: $black;
  }
  &:-ms-input-placeholder {  
    color: $black;
  }
}
textarea{
  height: 110px;
}
.submit{
  width: 25%;
  border: 2px solid $white;
}

//HOME FORM
.home-input{
  padding-top: 5%;
  padding-bottom: 2%;
  *{
    padding-left: 5px;
    padding-right: 5px;
  }
  input{
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-size: 12px;
    &::-webkit-input-placeholder {
      color: $white;
    }
    &::-moz-placeholder { 
      color: $white;
    }
    &:-ms-input-placeholder {  
      color: $white;
    }
  }
  button{
    width: 100%;
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-size: 12px;
    padding: 5px 10px;
  }
}

//COMMUNITY SPOTLIGHT
@media only screen and (min-width : 768px) {
  .community-bio{
    font-size: 12px;
  }
}
.media-core-btn{
  width: 100%;
  margin-top: 20px;
  background-color: $yellow;
  color: $white;
  font-size: 18px;
  border: 0;
  padding: 7px 5px;
}

//COMMON ELEMENTS

//NAVBAR
.nav{
  font-weight: 500;
}
.navbar-header img{
  vertical-align: inherit;
}
.navbar-fixed-top{
  border-width: 0;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: -15px;
}
.navbar-inverse .navbar-nav > li > a {
  color: $white;
}
.navbar .active{
  color: red !important;
}


//SUBFOOTER
#subfooter{
  padding-top: 20px;
  padding-bottom: 20px;
  background: $grey;
  color: $white;
  p{
    font-weight: 500;
  }
}
.subfooter-email {
  padding-top: 10px;
  a{
    color: $white;
    &:active, &:hover{
      cursor: pointer;
    }
  }
}

//FOOTER
footer .row{
  background: $black;
  color: $white;
  padding-top: 10px;
  ul{
    list-style: none;
    font-weight: 300;
    font-size: 12px;
    }
  li{
    line-height: 14px;
    &:first-child{
      font-weight: 500;
    }
  }
  a{
    color: $white;
    &:active, &:hover{
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
  p{
    font-size: 10px;
  }
}